@import "tailwindcss";

@theme {

    --animate-fadeIn: fadeIn 0.3s ease-out forwards;

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(10px);
        }

        to {
            opacity: 1;
            transform: translateY(0px);
        }
    }
}

@layer utilities {
    .bg-checkerboard {
        background-color: #ffffff;
        background-image: url("data:image/svg+xml;utf8,\
      <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'>\
        <rect width='8' height='8' fill='%23d0d0d0'/>\
        <rect x='8' y='8' width='8' height='8' fill='%23d0d0d0'/>\
      </svg>");
        background-repeat: repeat;
        background-size: 16px 16px;
    }
}